@charset "UTF-8";
/* CSS Document */

body {
	height: 1000px;
    background-color: black;
	margin-top: 180px;
}
a {
    color:ghostwhite;
	text-decoration: none;
}

.box{
    display: none;
    padding: 0;
    overflow: hidden;
	width: 100%;
	border: 0;
	text-align: center;
}

a:hover + .box,.box:hover{
    display: block;
    position: absolute;
    top: 380px;
    z-index: 100;
}

a:hover{
	color: orangered;
}

h1,h2,h3 {	
			line-height: 1.5;
			text-align: center;
			font-size: 18px;
			text-decoration: none;
}
h6{
	font-size: 14px;
	text-align: center;
	top: 480px;
}

#heading {text-align: center;}
