@charset "UTF-8";
/* CSS Document */

body {
    background-color: black;
	margin-top: 200px;
}
a {
    color:ghostwhite;
	text-decoration: none;
	font-size: 18px;
}

.box{
    display: none;
    padding: 0;
    overflow: hidden;
	width: 100%;
	border: 0;
	text-align: center;
}

a:hover + .box,.box:hover{
    display: block;
    position: absolute;
    top: 400px;
    z-index: 100;
}

a:hover{
	color: orangered;
}

h1,h2,h3 {
			text-align: center;
}
h6{
	text-align: center;
	top: 500px;
}

#heading {text-align: center;}
