@charset "UTF-8";
/* CSS Document */

body {
    background-color: black;
	margin-top: 100px;
}
a {
    color:ghostwhite;
	text-decoration: none;
}

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
h1,h2,h3 {
			text-align: center;
			color:ghostwhite;
			font-family: "Times New Roman";
			font-size: 14px;
}
			
/*h2{
    color:black;
    font-family: "Helvetica Neue";
    font-size: 20px;
	text-align: center;
}*/

#heading {text-align: center;}
