@charset "UTF-8";
/* CSS Document */

body {
    background-color: #300000;
	margin: 0;
}
           
h1,h2,h3 {
			text-align: center;
			color:ghostwhite;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			font-stretch: extra-expanded;
}
			
/*h2{
    color:black;
    font-family: "Helvetica Neue";
    font-size: 20px;
	text-align: center;
}*/
ol {
	align-text:left;
	font-size: 14px;
	font-family: "Helvetica Neue";
}
#heading {text-align: center;}
